.portfolio-head{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:776px){
    .portfolio-head{
        flex-direction: column;
        width: 100%;
    }
    .portfolio-catergory{
        width: 100%;
    }
}
@media screen and (max-width:580px){
    .portfolio-head{
        flex-direction: column;
        width: 100%;
    }
    .portfolio-catergory{
        width: 100%;
    }
}